SECRET_KEY=THIS_IS_NOT_A_GOOD_SCECRET
DEBUG=True
ALLOWED_HOSTS =127.0.0.1, .localhost, .pythonanywhere.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=<ENDEREÇO-SMTP>
EMAIL_PORT=<PORTA>
EMAIL_USE_TLS=True
EMAIL_HOST_USER=<EMAIL-USER>
EMAIL_HOST_PASSWORD=<SENHA-APP-OU-EMAIL>
